.main-user-input-wrapper {
  text-align: center;
  margin-bottom: 15px;
}

#tickerName, #stockQty {
  width: 50%;
  text-align: center;
  margin: 15px auto;
}

.table {
  margin: auto;
  text-align: center;
}
